<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} :: ARNOLDAY </title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/united/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    </head>
    <body>
        {% block header %}
        <section class="section">
          <div class="container">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="{{path('index')}}">ARNOLDAY</a>
                </div>
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tasks <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{path('task_index')}}">Assigned to me</a></li>
                            <li><a href="{{ path('task') }}">Created by me</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('task_add') }}">Create new task</a> </li>
                        </ul>
                    </li>
                    <li><a href="{{path('category_index')}}">Categories</a></li>
                      <li><a href="{{ path('calendar_index') }}">My calendar</a> </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{path('user_index')}}">Users</a></li>
                      {% if app.user %}
                        <li><a href="{{ path('logout') }}">Logout [{{ app.user.name }}]</a></li>
                      {% endif %}
                  </ul>
              </div>
            </nav>
              {% block body %}{% endblock %}
          </div>
        </section>
        {% endblock %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
