{% extends 'base.html.twig' %}
{% block title %}Edit user{% endblock %}
{% block body %}
<h3>Edit user</h3>
<form method="post" {{ form_enctype(form) }}>
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{form_row(form._token)}}
    <input class="btn btn-primary" type="submit" value="Submit"/>
</form>

{% endblock %}
