{% extends '::base.html.twig' %}
{% block title %}Edit user{% endblock %}
{% block body %}
<h1>Edit user</h1>
<form method="post" {{ form_enctype(form) }}>
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{form_row(form._token)}}
    {{form_row(form.save, {'attr': {'class': 'btn btn-default', 'role': 'button'}})}}
</form>

{% endblock %}
