{% extends '::base.html.twig' %}

{% block body %}
<h1>Edit user</h1>
<form method="post" {{ form_enctype(form) }}>
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{form_row(form._token)}}
    {{form_row(form.save)}}
</form>

{% endblock %}
