{% extends 'base.html.twig' %}

{% block title %}Task add{% endblock %}
{% block body %}
    <h3>Add new task</h3>
    <form method="POST" {{ form_enctype(form) }}>
        {{ form_row(form.content) }}
        {{ form_row(form.dueDate) }}
        {{ form_row(form.done) }}
        {{ form_row(form.priority) }}
        {{ form_row(form.category) }}
        {{ form_row(form.assignee) }}
        {{ form_widget(form._token) }}
        <input class="btn btn-primary" type="submit" value="Add task"/>
    </form>
{% endblock %}
