<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="pl">
<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=iso-8859-2">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <style>
        th {
            padding-bottom: 10px;
            text-transform: uppercase;
        }
    </style>
</head>

<body>

<div class="page-header">
    <h1>{{user}}</h1>
    <h6>{{ "now"|date('Y-m-d') }}</h6>
</div>
<table class="table table-striped">
    <tr class="table-header">
        <th>Task name</th>
        <th>Due date</th>
        <th>Category</th>
        <th>Prioryty</th>
        <th>Status</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.dueDate|date('d-m-Y') }}</td>
        <td>{{ task.category.name }}</td>
        <td>{{ task.priority }}</td>
        <td>
            {% if task.done == 1 %}
                <span style="border-right: green 5px solid; padding-right: 10px;">DONE</span>
            {% else %}
                <span style="border-right: red 5px solid; padding-right: 10px;">WAITING</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="5" style="padding: 10px 0px; border-bottom: 1px #eee solid">
            <p>{{ task.content }}</p>
        </td>
    </tr>
    {% endfor %}

</table>

</body>
</html>